@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling and font */
html, body, #root {
  height: 100%;
}
body {
  @apply bg-neutral-950 text-white antialiased;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 rounded;
}
